<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>AI Systems Non-functional Requirements View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>AI Systems Non-functional Requirements View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2c46d44ac7e14f92856a2ff45cf7f5b0.png" alt="AI Systems Non-functional Requirements View" usemap="#id-2c46d44ac7e14f92856a2ff45cf7f5b0map"/>
			   <map name="id-2c46d44ac7e14f92856a2ff45cf7f5b0map">
				          <area shape="rect" coords="10,10,563,167" href="../objects/id-14108b5d56f2474f84c0e07078234948.html" target="element" >
				  						<area shape="rect" coords="250,350,407,423" href="../elements/id-2fb1b90cac684821a272af9689d9b07d.html"  target="element">
				  						<area shape="rect" coords="58,350,215,423" href="../elements/id-932840e78604497cb022a85fcac3d4d5.html"  target="element">

				  				<area shape="rect" coords="34,302,611,442" href="../elements/id-b10963f2b9f1480ca46e618c74231334.html"  target="element">
				  						<area shape="rect" coords="250,2014,407,2087" href="../elements/id-3a835ea510df47468f80226e53cd6a55.html"  target="element">
				  						<area shape="rect" coords="58,2014,215,2087" href="../elements/id-8942cf60cb8e472aa75cff4e1ea4c21a.html"  target="element">

				  				<area shape="rect" coords="34,1978,611,2118" href="../elements/id-943ae22c628149cfb16d22310367ff1c.html"  target="element">
				  						<area shape="rect" coords="238,1858,395,1931" href="../elements/id-4f40071455fd4e5686e2b436e155f990.html"  target="element">
				  						<area shape="rect" coords="58,1858,215,1931" href="../elements/id-3f3706c6704b435d81ff125b460f562b.html"  target="element">

				  				<area shape="rect" coords="34,1810,611,1950" href="../elements/id-e64638e0945d4ec4941e4b78946cb6ff.html"  target="element">
				  						<area shape="rect" coords="418,1678,575,1751" href="../elements/id-54f41ead5bc64f4ca35cd193878a67da.html"  target="element">
				  						<area shape="rect" coords="238,1678,395,1751" href="../elements/id-2a3c25635a544d9181b78d9b12181644.html"  target="element">
				  						<area shape="rect" coords="58,1678,215,1751" href="../elements/id-955b018c2f644f7dbaa064d4f996af71.html"  target="element">

				  				<area shape="rect" coords="34,1642,611,1782" href="../elements/id-04734bac2ada423eb21a7fd944862cb1.html"  target="element">
				  						<area shape="rect" coords="418,1522,575,1595" href="../elements/id-a6e4e7f588b54eaf83b1b1a105bad30c.html"  target="element">
				  						<area shape="rect" coords="238,1522,395,1595" href="../elements/id-60e9bcf1ba93422995cf0360f6700b43.html"  target="element">
				  						<area shape="rect" coords="58,1522,215,1595" href="../elements/id-d589512662fb438fb4e5203ef2e2d3ee.html"  target="element">

				  				<area shape="rect" coords="34,1474,611,1614" href="../elements/id-9fb7349b724a4012b113f37d96f2507d.html"  target="element">
				  						<area shape="rect" coords="418,1354,575,1427" href="../elements/id-a3064820ad67449d81145c640e9bace8.html"  target="element">
				  						<area shape="rect" coords="238,1354,395,1427" href="../elements/id-9d051166a2924331aa557ca33c2aa239.html"  target="element">
				  						<area shape="rect" coords="58,1354,215,1427" href="../elements/id-d3ddbaceb7ee4f79b92b5aa65287c381.html"  target="element">

				  				<area shape="rect" coords="34,1306,611,1446" href="../elements/id-a3e8a18d43e44dc3ad071ecd6528203d.html"  target="element">
				  						<area shape="rect" coords="418,1186,575,1259" href="../elements/id-3b5d0c25acaf43a580f0330ad80ca8b3.html"  target="element">
				  						<area shape="rect" coords="238,1186,395,1259" href="../elements/id-d431dfedfaef4ae09a1ff1056723d062.html"  target="element">
				  						<area shape="rect" coords="58,1186,215,1259" href="../elements/id-d705e7f61c5b4825b83feca59034b3f9.html"  target="element">

				  				<area shape="rect" coords="34,1138,611,1278" href="../elements/id-9bfab6088e3f4f939980b35da29241f4.html"  target="element">
				  						<area shape="rect" coords="418,1018,575,1091" href="../elements/id-18de66738df5481fb11d22db2bb19392.html"  target="element">
				  						<area shape="rect" coords="238,1018,395,1091" href="../elements/id-14abef03bc1844a6940932f6ee3df65c.html"  target="element">
				  						<area shape="rect" coords="58,1018,215,1091" href="../elements/id-4d2057ed4b5e43a397a50fcff9a5d670.html"  target="element">

				  				<area shape="rect" coords="34,970,611,1110" href="../elements/id-e318cbc57d284e438f248b3a92fcc7db.html"  target="element">
				  						<area shape="rect" coords="418,850,575,923" href="../elements/id-3832aecd05094f7da6f488cb210dc6b8.html"  target="element">
				  						<area shape="rect" coords="238,850,395,923" href="../elements/id-2f7d5f89d2c74fd694ebaf0a4764adb9.html"  target="element">
				  						<area shape="rect" coords="58,850,215,923" href="../elements/id-15f46bba807f4a4da0915c29856ec9ea.html"  target="element">

				  				<area shape="rect" coords="34,802,611,942" href="../elements/id-541e112ce2bb436f8c2328f0fa166718.html"  target="element">
				  						<area shape="rect" coords="418,683,575,756" href="../elements/id-350a0e61d9b3446c986a059d792d67c7.html"  target="element">
				  						<area shape="rect" coords="238,683,395,756" href="../elements/id-a7b097718b1c4367a54d4a199cdd7756.html"  target="element">
				  						<area shape="rect" coords="58,683,215,756" href="../elements/id-5cc92bbea04d4e9ea1a3037adc620827.html"  target="element">

				  				<area shape="rect" coords="34,634,611,774" href="../elements/id-365871b8c4c24b819206ed6260aac97a.html"  target="element">
				  						<area shape="rect" coords="418,514,575,587" href="../elements/id-259742503a9e4b04ac07560d15c32b79.html"  target="element">
				  						<area shape="rect" coords="238,514,395,587" href="../elements/id-f4f3cad8bdc74978a58ff2073f0dc36b.html"  target="element">
				  						<area shape="rect" coords="58,514,215,587" href="../elements/id-6f7860c23cb743498d4f42693907ffa6.html"  target="element">

				  				<area shape="rect" coords="34,466,611,606" href="../elements/id-4777dabbc4fe48b79a0444ae0efadbab.html"  target="element">

				  		<area shape="rect" coords="10,214,755,2159" href="../elements/id-0af6296897774210bc1090469dcb8f62.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
											    <td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4777dabbc4fe48b79a0444ae0efadbab.html" target="element"> Ethical and Legal Compliance </a> </td>
													    <td> <a href="../elements/id-4777dabbc4fe48b79a0444ae0efadbab.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6f7860c23cb743498d4f42693907ffa6.html" target="element"> Fairness </a> </td>
															    <td> <a href="../elements/id-6f7860c23cb743498d4f42693907ffa6.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f4f3cad8bdc74978a58ff2073f0dc36b.html" target="element"> Transparency </a> </td>
															    <td> <a href="../elements/id-f4f3cad8bdc74978a58ff2073f0dc36b.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-259742503a9e4b04ac07560d15c32b79.html" target="element"> Compliance </a> </td>
															    <td> <a href="../elements/id-259742503a9e4b04ac07560d15c32b79.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-365871b8c4c24b819206ed6260aac97a.html" target="element"> Security </a> </td>
													    <td> <a href="../elements/id-365871b8c4c24b819206ed6260aac97a.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5cc92bbea04d4e9ea1a3037adc620827.html" target="element"> Data Protection and Residency </a> </td>
															    <td> <a href="../elements/id-5cc92bbea04d4e9ea1a3037adc620827.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a7b097718b1c4367a54d4a199cdd7756.html" target="element"> Model Security </a> </td>
															    <td> <a href="../elements/id-a7b097718b1c4367a54d4a199cdd7756.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-350a0e61d9b3446c986a059d792d67c7.html" target="element"> Access Control </a> </td>
															    <td> <a href="../elements/id-350a0e61d9b3446c986a059d792d67c7.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-541e112ce2bb436f8c2328f0fa166718.html" target="element"> Reliabiliy </a> </td>
													    <td> <a href="../elements/id-541e112ce2bb436f8c2328f0fa166718.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-15f46bba807f4a4da0915c29856ec9ea.html" target="element"> Accuracy </a> </td>
															    <td> <a href="../elements/id-15f46bba807f4a4da0915c29856ec9ea.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2f7d5f89d2c74fd694ebaf0a4764adb9.html" target="element"> Error Rate </a> </td>
															    <td> <a href="../elements/id-2f7d5f89d2c74fd694ebaf0a4764adb9.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3832aecd05094f7da6f488cb210dc6b8.html" target="element"> Robustness </a> </td>
															    <td> <a href="../elements/id-3832aecd05094f7da6f488cb210dc6b8.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-e318cbc57d284e438f248b3a92fcc7db.html" target="element"> Usability </a> </td>
													    <td> <a href="../elements/id-e318cbc57d284e438f248b3a92fcc7db.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4d2057ed4b5e43a397a50fcff9a5d670.html" target="element"> Explainability </a> </td>
															    <td> <a href="../elements/id-4d2057ed4b5e43a397a50fcff9a5d670.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-14abef03bc1844a6940932f6ee3df65c.html" target="element"> User Interface </a> </td>
															    <td> <a href="../elements/id-14abef03bc1844a6940932f6ee3df65c.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-18de66738df5481fb11d22db2bb19392.html" target="element"> Error Handling </a> </td>
															    <td> <a href="../elements/id-18de66738df5481fb11d22db2bb19392.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-9bfab6088e3f4f939980b35da29241f4.html" target="element"> Data Requirements </a> </td>
													    <td> <a href="../elements/id-9bfab6088e3f4f939980b35da29241f4.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d705e7f61c5b4825b83feca59034b3f9.html" target="element"> Data Quality </a> </td>
															    <td> <a href="../elements/id-d705e7f61c5b4825b83feca59034b3f9.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d431dfedfaef4ae09a1ff1056723d062.html" target="element"> Data Freshness </a> </td>
															    <td> <a href="../elements/id-d431dfedfaef4ae09a1ff1056723d062.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3b5d0c25acaf43a580f0330ad80ca8b3.html" target="element"> Privacy Preservation </a> </td>
															    <td> <a href="../elements/id-3b5d0c25acaf43a580f0330ad80ca8b3.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-a3e8a18d43e44dc3ad071ecd6528203d.html" target="element"> Performance and Scalability </a> </td>
													    <td> <a href="../elements/id-a3e8a18d43e44dc3ad071ecd6528203d.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d3ddbaceb7ee4f79b92b5aa65287c381.html" target="element"> Processing Speed </a> </td>
															    <td> <a href="../elements/id-d3ddbaceb7ee4f79b92b5aa65287c381.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9d051166a2924331aa557ca33c2aa239.html" target="element"> Throughput </a> </td>
															    <td> <a href="../elements/id-9d051166a2924331aa557ca33c2aa239.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a3064820ad67449d81145c640e9bace8.html" target="element"> Scalability </a> </td>
															    <td> <a href="../elements/id-a3064820ad67449d81145c640e9bace8.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-9fb7349b724a4012b113f37d96f2507d.html" target="element"> Maintainability </a> </td>
													    <td> <a href="../elements/id-9fb7349b724a4012b113f37d96f2507d.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d589512662fb438fb4e5203ef2e2d3ee.html" target="element"> Modularity </a> </td>
															    <td> <a href="../elements/id-d589512662fb438fb4e5203ef2e2d3ee.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-60e9bcf1ba93422995cf0360f6700b43.html" target="element"> Version Control </a> </td>
															    <td> <a href="../elements/id-60e9bcf1ba93422995cf0360f6700b43.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a6e4e7f588b54eaf83b1b1a105bad30c.html" target="element"> Monitoring and Retraining </a> </td>
															    <td> <a href="../elements/id-a6e4e7f588b54eaf83b1b1a105bad30c.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-04734bac2ada423eb21a7fd944862cb1.html" target="element"> Availability and Resilience </a> </td>
													    <td> <a href="../elements/id-04734bac2ada423eb21a7fd944862cb1.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-955b018c2f644f7dbaa064d4f996af71.html" target="element"> Uptime </a> </td>
															    <td> <a href="../elements/id-955b018c2f644f7dbaa064d4f996af71.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2a3c25635a544d9181b78d9b12181644.html" target="element"> Fault Tolerance </a> </td>
															    <td> <a href="../elements/id-2a3c25635a544d9181b78d9b12181644.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-54f41ead5bc64f4ca35cd193878a67da.html" target="element"> Backup and Recovery </a> </td>
															    <td> <a href="../elements/id-54f41ead5bc64f4ca35cd193878a67da.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-e64638e0945d4ec4941e4b78946cb6ff.html" target="element"> Environmental Constraints </a> </td>
													    <td> <a href="../elements/id-e64638e0945d4ec4941e4b78946cb6ff.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3f3706c6704b435d81ff125b460f562b.html" target="element"> Energy Efficiency </a> </td>
															    <td> <a href="../elements/id-3f3706c6704b435d81ff125b460f562b.html" target="element" class="i18n-elementtype-Constraint">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4f40071455fd4e5686e2b436e155f990.html" target="element"> Hardware Utilization </a> </td>
															    <td> <a href="../elements/id-4f40071455fd4e5686e2b436e155f990.html" target="element" class="i18n-elementtype-Constraint">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-943ae22c628149cfb16d22310367ff1c.html" target="element"> Interoperability </a> </td>
													    <td> <a href="../elements/id-943ae22c628149cfb16d22310367ff1c.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8942cf60cb8e472aa75cff4e1ea4c21a.html" target="element"> API Standards </a> </td>
															    <td> <a href="../elements/id-8942cf60cb8e472aa75cff4e1ea4c21a.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3a835ea510df47468f80226e53cd6a55.html" target="element"> Integration </a> </td>
															    <td> <a href="../elements/id-3a835ea510df47468f80226e53cd6a55.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b10963f2b9f1480ca46e618c74231334.html" target="element"> Human Values </a> </td>
													    <td> <a href="../elements/id-b10963f2b9f1480ca46e618c74231334.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-932840e78604497cb022a85fcac3d4d5.html" target="element"> Human-in-the-Loop </a> </td>
															    <td> <a href="../elements/id-932840e78604497cb022a85fcac3d4d5.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2fb1b90cac684821a272af9689d9b07d.html" target="element"> User Feedback Mechanisms </a> </td>
															    <td> <a href="../elements/id-2fb1b90cac684821a272af9689d9b07d.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-14108b5d56f2474f84c0e07078234948.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-14108b5d56f2474f84c0e07078234948.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dc5d3e8733184e149048a89911968394.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc5d3e8733184e149048a89911968394.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-4777dabbc4fe48b79a0444ae0efadbab.html" target="element"> Ethical and Legal Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf02403792094ac0ac1a1f5e496bde83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf02403792094ac0ac1a1f5e496bde83.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-365871b8c4c24b819206ed6260aac97a.html" target="element"> Security </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9d2479f49634029b6121cf31c9cc807.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9d2479f49634029b6121cf31c9cc807.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-541e112ce2bb436f8c2328f0fa166718.html" target="element"> Reliabiliy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2732c1e6b0b46b5ad036b76acd767ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2732c1e6b0b46b5ad036b76acd767ca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-e318cbc57d284e438f248b3a92fcc7db.html" target="element"> Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e00f00315b3943f7b99b5dc343df2f3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e00f00315b3943f7b99b5dc343df2f3c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-9bfab6088e3f4f939980b35da29241f4.html" target="element"> Data Requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ead7f73116b8440c8a28746537d9b556.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ead7f73116b8440c8a28746537d9b556.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-a3e8a18d43e44dc3ad071ecd6528203d.html" target="element"> Performance and Scalability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb78a97774b34b679036b0f41bce9793.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb78a97774b34b679036b0f41bce9793.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-9fb7349b724a4012b113f37d96f2507d.html" target="element"> Maintainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5576fa26992480e8c810721a3a2ded1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5576fa26992480e8c810721a3a2ded1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-04734bac2ada423eb21a7fd944862cb1.html" target="element"> Availability and Resilience </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e138023cfe7a497a83ce730f14c80b61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e138023cfe7a497a83ce730f14c80b61.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-e64638e0945d4ec4941e4b78946cb6ff.html" target="element"> Environmental Constraints </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16efeaeaa2a547519fff8bb9fc6ee761.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16efeaeaa2a547519fff8bb9fc6ee761.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-943ae22c628149cfb16d22310367ff1c.html" target="element"> Interoperability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-52a5f9054ce64bd1b5d5e431334be8f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52a5f9054ce64bd1b5d5e431334be8f7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0af6296897774210bc1090469dcb8f62.html" target="element"> AI Systems Non-functional Requirements Catalogue </a> </td>
																		<td> <a href="../elements/id-b10963f2b9f1480ca46e618c74231334.html" target="element"> Human Values </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f1834df515204fcf845904fefe2747d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f1834df515204fcf845904fefe2747d7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777dabbc4fe48b79a0444ae0efadbab.html" target="element"> Ethical and Legal Compliance </a> </td>
																				<td> <a href="../elements/id-6f7860c23cb743498d4f42693907ffa6.html" target="element"> Fairness </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-46eaff36f01d42208ffdef390f218858.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-46eaff36f01d42208ffdef390f218858.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777dabbc4fe48b79a0444ae0efadbab.html" target="element"> Ethical and Legal Compliance </a> </td>
																				<td> <a href="../elements/id-f4f3cad8bdc74978a58ff2073f0dc36b.html" target="element"> Transparency </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6fc105aa9f8b4f71bcbc40e9e03bc486.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6fc105aa9f8b4f71bcbc40e9e03bc486.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777dabbc4fe48b79a0444ae0efadbab.html" target="element"> Ethical and Legal Compliance </a> </td>
																				<td> <a href="../elements/id-259742503a9e4b04ac07560d15c32b79.html" target="element"> Compliance </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-54bc66be3f6f46dd823ffd270284cddc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-54bc66be3f6f46dd823ffd270284cddc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-365871b8c4c24b819206ed6260aac97a.html" target="element"> Security </a> </td>
																				<td> <a href="../elements/id-5cc92bbea04d4e9ea1a3037adc620827.html" target="element"> Data Protection and Residency </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-11c026a72c9a47158e65990707a1a38f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11c026a72c9a47158e65990707a1a38f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-365871b8c4c24b819206ed6260aac97a.html" target="element"> Security </a> </td>
																				<td> <a href="../elements/id-a7b097718b1c4367a54d4a199cdd7756.html" target="element"> Model Security </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4bcfb2b570a4469cb69f06c2bbe9dc8e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4bcfb2b570a4469cb69f06c2bbe9dc8e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-365871b8c4c24b819206ed6260aac97a.html" target="element"> Security </a> </td>
																				<td> <a href="../elements/id-350a0e61d9b3446c986a059d792d67c7.html" target="element"> Access Control </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-808d9f10c8a04590b108a9ea6b60005c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-808d9f10c8a04590b108a9ea6b60005c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-541e112ce2bb436f8c2328f0fa166718.html" target="element"> Reliabiliy </a> </td>
																				<td> <a href="../elements/id-15f46bba807f4a4da0915c29856ec9ea.html" target="element"> Accuracy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-db0d1ef8ecc74983acd35a102866f898.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-db0d1ef8ecc74983acd35a102866f898.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-541e112ce2bb436f8c2328f0fa166718.html" target="element"> Reliabiliy </a> </td>
																				<td> <a href="../elements/id-2f7d5f89d2c74fd694ebaf0a4764adb9.html" target="element"> Error Rate </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8de104ba2b704235bf70d1a30d214e98.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8de104ba2b704235bf70d1a30d214e98.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-541e112ce2bb436f8c2328f0fa166718.html" target="element"> Reliabiliy </a> </td>
																				<td> <a href="../elements/id-3832aecd05094f7da6f488cb210dc6b8.html" target="element"> Robustness </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-433b4ad907a54b20921f217d18e239ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-433b4ad907a54b20921f217d18e239ea.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e318cbc57d284e438f248b3a92fcc7db.html" target="element"> Usability </a> </td>
																				<td> <a href="../elements/id-4d2057ed4b5e43a397a50fcff9a5d670.html" target="element"> Explainability </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-af7a8d08b55e4887b0fe990adfa1f9de.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af7a8d08b55e4887b0fe990adfa1f9de.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e318cbc57d284e438f248b3a92fcc7db.html" target="element"> Usability </a> </td>
																				<td> <a href="../elements/id-14abef03bc1844a6940932f6ee3df65c.html" target="element"> User Interface </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b39d21cea50146e48e49659b7e7b0edf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b39d21cea50146e48e49659b7e7b0edf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e318cbc57d284e438f248b3a92fcc7db.html" target="element"> Usability </a> </td>
																				<td> <a href="../elements/id-18de66738df5481fb11d22db2bb19392.html" target="element"> Error Handling </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-4e45090d9d6f41d3886b83dd2ce7e948.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4e45090d9d6f41d3886b83dd2ce7e948.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9bfab6088e3f4f939980b35da29241f4.html" target="element"> Data Requirements </a> </td>
																				<td> <a href="../elements/id-d705e7f61c5b4825b83feca59034b3f9.html" target="element"> Data Quality </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-58fb140c4c3f4a6c9f2a11862515cf9e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-58fb140c4c3f4a6c9f2a11862515cf9e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9bfab6088e3f4f939980b35da29241f4.html" target="element"> Data Requirements </a> </td>
																				<td> <a href="../elements/id-d431dfedfaef4ae09a1ff1056723d062.html" target="element"> Data Freshness </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-73e6c652e8e444f89a25e58d673fdba3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-73e6c652e8e444f89a25e58d673fdba3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9bfab6088e3f4f939980b35da29241f4.html" target="element"> Data Requirements </a> </td>
																				<td> <a href="../elements/id-3b5d0c25acaf43a580f0330ad80ca8b3.html" target="element"> Privacy Preservation </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-757effae43b64f37b1a29317feed4a8b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-757effae43b64f37b1a29317feed4a8b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e8a18d43e44dc3ad071ecd6528203d.html" target="element"> Performance and Scalability </a> </td>
																				<td> <a href="../elements/id-d3ddbaceb7ee4f79b92b5aa65287c381.html" target="element"> Processing Speed </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9154ed9937a64cd68a9246be1f2ca05c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9154ed9937a64cd68a9246be1f2ca05c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e8a18d43e44dc3ad071ecd6528203d.html" target="element"> Performance and Scalability </a> </td>
																				<td> <a href="../elements/id-9d051166a2924331aa557ca33c2aa239.html" target="element"> Throughput </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-081c7286b3114f30b31a3c7995a7740e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-081c7286b3114f30b31a3c7995a7740e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a3e8a18d43e44dc3ad071ecd6528203d.html" target="element"> Performance and Scalability </a> </td>
																				<td> <a href="../elements/id-a3064820ad67449d81145c640e9bace8.html" target="element"> Scalability </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-0f811bc779614b50970edb20f6fb1cf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0f811bc779614b50970edb20f6fb1cf6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9fb7349b724a4012b113f37d96f2507d.html" target="element"> Maintainability </a> </td>
																				<td> <a href="../elements/id-d589512662fb438fb4e5203ef2e2d3ee.html" target="element"> Modularity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-87583fdabce3461a9825f30243e39d33.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-87583fdabce3461a9825f30243e39d33.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9fb7349b724a4012b113f37d96f2507d.html" target="element"> Maintainability </a> </td>
																				<td> <a href="../elements/id-60e9bcf1ba93422995cf0360f6700b43.html" target="element"> Version Control </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d823cce9ae6044ffae0de7404ef11dcb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d823cce9ae6044ffae0de7404ef11dcb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9fb7349b724a4012b113f37d96f2507d.html" target="element"> Maintainability </a> </td>
																				<td> <a href="../elements/id-a6e4e7f588b54eaf83b1b1a105bad30c.html" target="element"> Monitoring and Retraining </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-96b967ee1b6245e4b65e8f198f3110e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96b967ee1b6245e4b65e8f198f3110e9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-04734bac2ada423eb21a7fd944862cb1.html" target="element"> Availability and Resilience </a> </td>
																				<td> <a href="../elements/id-955b018c2f644f7dbaa064d4f996af71.html" target="element"> Uptime </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5f886cff944d47888801949c0f7ee6e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f886cff944d47888801949c0f7ee6e7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-04734bac2ada423eb21a7fd944862cb1.html" target="element"> Availability and Resilience </a> </td>
																				<td> <a href="../elements/id-2a3c25635a544d9181b78d9b12181644.html" target="element"> Fault Tolerance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a4a67f5ac8cf4e9dae25d541141ae3f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4a67f5ac8cf4e9dae25d541141ae3f9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-04734bac2ada423eb21a7fd944862cb1.html" target="element"> Availability and Resilience </a> </td>
																				<td> <a href="../elements/id-54f41ead5bc64f4ca35cd193878a67da.html" target="element"> Backup and Recovery </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-13bd16c2ec67467f845bd75e14d18b79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-13bd16c2ec67467f845bd75e14d18b79.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e64638e0945d4ec4941e4b78946cb6ff.html" target="element"> Environmental Constraints </a> </td>
																				<td> <a href="../elements/id-3f3706c6704b435d81ff125b460f562b.html" target="element"> Energy Efficiency </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8eece974136342fb972ceaed2d432953.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8eece974136342fb972ceaed2d432953.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e64638e0945d4ec4941e4b78946cb6ff.html" target="element"> Environmental Constraints </a> </td>
																				<td> <a href="../elements/id-4f40071455fd4e5686e2b436e155f990.html" target="element"> Hardware Utilization </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-4d7f1723df314fc8a01f7c49c5e93864.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4d7f1723df314fc8a01f7c49c5e93864.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-943ae22c628149cfb16d22310367ff1c.html" target="element"> Interoperability </a> </td>
																				<td> <a href="../elements/id-8942cf60cb8e472aa75cff4e1ea4c21a.html" target="element"> API Standards </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a6eb4b94eac4a17a46e8a2a1c7d5301.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a6eb4b94eac4a17a46e8a2a1c7d5301.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-943ae22c628149cfb16d22310367ff1c.html" target="element"> Interoperability </a> </td>
																				<td> <a href="../elements/id-3a835ea510df47468f80226e53cd6a55.html" target="element"> Integration </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28e08de6f7b7443ab962caf13191cfbc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28e08de6f7b7443ab962caf13191cfbc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b10963f2b9f1480ca46e618c74231334.html" target="element"> Human Values </a> </td>
																				<td> <a href="../elements/id-932840e78604497cb022a85fcac3d4d5.html" target="element"> Human-in-the-Loop </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-19dd062262004f02a268611a1924e596.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19dd062262004f02a268611a1924e596.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b10963f2b9f1480ca46e618c74231334.html" target="element"> Human Values </a> </td>
																				<td> <a href="../elements/id-2fb1b90cac684821a272af9689d9b07d.html" target="element"> User Feedback Mechanisms </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>